body {
    margin: 0px 0px;
    font-family: 'Dosis', sans-serif;
    margin-bottom: -30px;
}

html {
    position: relative; min-height: 100%;
}

/* estilo del FOOTER */

footer {
    height: 30px;
    width: 100%;
    background: tomato;
    background: linear-gradient(300deg, tomato 0%, rgba(0,0,0,1) 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

/* estilos del HEADER */

header {
    display: flex;
    align-items: center;
    background: tomato;
    background: linear-gradient(50deg, tomato 0%, rgba(0,0,0,1) 70%);
    padding: 0px 20px;
    height: 60px;
    box-shadow: 0px 10px 30px -10px rgba(0,0,0,1);
-webkit-box-shadow: 0px 10px 30px -10px rgba(0,0,0,1);
-moz-box-shadow: 0px 10px 30px -10px rgba(0,0,0,1);
}
.fab, h3 {
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 36px;
    align-items: center;
}
.logo {
    display: inline-flex;
    align-items: center;
}
i {
    margin: 0px 8px 0px 0px;
}
.nav-items {
    display: inline-flex;
    align-items: center;
    justify-content:space-evenly;
    position: relative;
    width: 100%;
}
.nav-movil {
    display: none;
}
h5, a {
    font-family: 'Dosis', sans-serif;
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.seleccionado {
    border-bottom: white solid;
}
a:hover {
    border-bottom: white solid;
}

/* estilos del CARD */

.card {
    width: 800px;
    height: auto;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid rgba(124, 124, 124, 0.2);
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    padding: 0px;
    transition: all 0.5s ease;
}
.card:hover {
    background: rgb(2,163,196);
    background: linear-gradient(138deg, rgba(2,163,196,0.19929970279127274) 0%, rgba(255,255,255,0.3) 20%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.3) 80%, rgba(121,121,121,0.2) 100%); 
}
.arrobas {
    color: rgb(50, 88, 170);
    font-size: 14px;
    text-decoration: none;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hashtags {
    color: rgb(39, 39, 39);
    font-size: 14px;
    text-decoration: none;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
li {
    list-style: none;
}
img {
    height: auto;
    width: 100px;
    transition: all 0.5s ease;
    margin: 0px;
}
img:hover {
    transform: scale(1.1);
}
.texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
}
h4 {
    color: tomato;
    font-size: 20px;
    line-height: 20px;
    margin: 5px;
}
h6 {
    font-weight: lighter;
    color: rgb(43, 43, 43);
    font-size: 16px;
    line-height: 16px;
    margin: 0px 5px;
}
.fotoytexto {
    display: flex;
    flex-direction: row;
}

/* estilos de la PRESENTACION */
.presentacion {
    width: 800px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
}
#news {
    width: 200px;
    height: 200px;
    margin: 0px 20px 0px 0px;
}
.titulo {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: black;
    line-height: 60px;
}
.leyenda {
    font-weight: lighter;
    color: rgb(43, 43, 43);
    font-size: 24px;
    line-height: 28px;

}
svg {
    position: absolute;
    margin: 0px 0px;
    z-index: -1;
}